body{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}
section{
    position: relative;
    background-image: url(image/img48.png);
    width: 100vw;
    height: 620px;
}

.ul{
    display: flex;
    position: relative;
    margin-left: 470px;
    top: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 90%;
    text-align: center;
    color: #FFFFFF;
}
li{
    list-style: none;
    padding: 12px;
}
.push{
    position: relative;
    margin-left: 350px ;
    border: #FFFFFF solid 1px;
    border-radius: 3px;
}
.des{
    position: relative;
    top: 55px;
    width: 180px;
    left: 60px;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
.container7{
    position: relative;
    align-content: center;
    top: 50px;
    height: 785px;
    left: 20px;
}
.input{
    position: relative;
    width: 470px;
height: 40px;
top: 70px;
left: 456px;
background: #FFFFFF;
border-radius: 8px;
}
#input4{
    height: 100px;
    
}
.cont{
    position: relative;

left: 500px;
top: 40px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 123.3%;
color: #FFFFFF;
}
.but1{
    position: relative;
    width: 177px;
    height: 60px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    left: 600px;
    top: 90px;
}

.h,.p{
    position: relative;
    text-align: center;
    top: 20px;
    right: 50px;

    
}
.div{
    position: relative;
    top: 20px;
}
.ol{
    display: flex;
    justify-content: center;
    position: relative;
    right:60px;
}
.container9{
    position: relative;
    background-image: url(image/img29.png);
    top: 80px;
    height: 400px;
}
#input{
    position: relative;
    width: 529px;
height: 60px;
top: 70px;
left: 456px;
background: #FFFFFF;
border-radius: 8px;
}
#button{
    position: absolute;
width: 134px;
height: 60px;
left: 67%;
top: 185px;


background: #FFFFFF;
border: 2px solid #FFFFFF;
border-radius: 8px;
}
#child9,.child9{
    position: relative;
    top: 40px;
    color: #FFFFFF;
    text-align: center;
   
}
.container10{
    position: relative;
    top: 80px;
    background-image: url(image/img30.png);
}
#container10{
    position: relative;
    top: 50px;
    left: 40px;
}
.container11{
    display: flex;
    justify-content: center;
    position: relative;
    left: 70px;
}

#container11{
    display: flex;
}
footer{
    background-color: #13151A;
    position: relative;
    top: 60px;
    height: 150px;
}
.container12{
    position: relative;
    text-align: center;
width: 301px;
height: 19px;
text-align: center;
top: 80px;
left: 550px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;
}
#ol{
    display: flex;
}